<% if (totalPages> 1) { %>
    <div class="pagination-container">
        <nav>
            <ul class="pagination">
                <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                    <a class="page-link" href="?page=<%= currentPage - 1 %>">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                </li>
                <% for (let i=1; i <=totalPages; i++) { %>
                    <% if (i===1 || i===totalPages || (i>= currentPage - 1 && i <= currentPage + 1)) { %>
                            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%= i %>">
                                    <%= i %>
                                </a>
                            </li>
                            <% } else if (i===currentPage - 2 || i===currentPage + 2) { %>
                                <li class="page-item disabled"><span class="page-link">...</span></li>
                                <% } %>
                                    <% } %>
                                        <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                            <a class="page-link" href="?page=<%= currentPage + 1 %>">
                                                <i class="fas fa-chevron-right"></i>
                                            </a>
                                        </li>
            </ul>
        </nav>
        <div class="page-info">Page <%= currentPage %> of <%= totalPages %>
        </div>
    </div>
    <% } %>